<%- include('./layout/Navbar.ejs') %>

<section class="readblog-section">
  <div class="readblog container">
    <img src="/blogImages/<%-findPost.image %>" alt="" />

    <div class="readblog-content">
      <h1><%- findPost.title %></h1>
      <div class="readblog-content-img flex items-center">
        <img src="/userImages/<%-findPost.user.image %>" alt="user" />
        <span><%-findPost.createdAt.toLocaleDateString()%></span>
        <span></span>
      </div>
      <p><%-findPost.description %></p>
    </div>
  </div>
</section>

<%- include('./layout/Footer.ejs') %>
